{
    
    "WALG_SSH_PREFIX": "ssh://u309357-sub3.your-storagebox.de",
    "SSH_PORT": "23",
    "SSH_USERNAME": "{{ postgres_walg_storagebox_user}}",
    "SSH_PASSWORD": "{{ postgres_walg_storagebox_password }}",
    "WALG_COMPRESSION_METHOD": "brotli",
    "WALG_DELTA_MAX_STEPS": "5",
    "PGDATA": "/var/lib/postgresql/14/main",
    "PGHOST": "/var/run/postgresql/.s.PGSQL.5432"
}