[Unit]
Description=Prometheus Node Exporter
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=default.target
